.footer {
    display: flex;
    margin: 0 auto;
    padding: 92px 0 24px;
    width: calc(100% - 96px);
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 88px 0 24px;
        width: calc(100% - 48px);
        justify-content: space-between;
        flex-direction: row;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 64px 0 24px;
        width: calc(100% - 32px);
        flex-direction: column;
    }
}